.custom-btn {
    font-size: 2em;
    border: none;
    outline: none;
    border: 1px solid black;
    width: calc(25% - 10px);
    border-radius: 999em;
    margin: 5px;
}

.custom-btn:active {
    opacity: 0.8;
}

.operator-btn {
    background: orange;
    color: white;
}